// This syntax isn't working consistently for importing *.css instead of *.scss:
// @import '~sanitize.css';
// Details:
// https://github.com/sass/node-sass/issues/2362
// Eventually, SASS will add a @use directive, distinct from @import:
// https://github.com/sass/sass/issues/1094
// For now, we'll hard code the path and let Parcel handle inlining the file:
@import url('../../node_modules/sanitize.css/sanitize.css');

$sidebar-background: #9b7;
$park-hover-background: darken($sidebar-background, 10%);
$park-active-background: #ff9;
$park-active-border: #000;
$favorite-default-color: #666;
$favorite-selected-color: #ff0;
$favorite-hover-color: $favorite-selected-color;

/* === General styles === */

html,
body {
  height: 100%;
}

/* === Major block content === */

body {
  display: flex;
}

.sidebar {
  position: fixed;
  padding: 1em;
  background: $sidebar-background;
  right: 0;
  width: 90%;
  height: 100%;
  z-index: 1;
  transform: translate(100%, 0);
  transition: transform 0.25s ease;

  @mixin sidebar-visible {
    transform: translate(0, 0);
  }

  @media screen and (min-width: 500px) {
    @include sidebar-visible;
    position: static;
    width: 300px;
  }

  @media screen and (min-width: 750px) {
    width: 380px;
  }

  &.visible {
    @include sidebar-visible;
  }
}

main {
  flex: 1;
  background: #adf; /* Approximate "water" color before map loads */
}

.menu-btn {
  $border-style: 1px solid #333;

  display: block;
  position: fixed;
  border-left: $border-style;
  border-bottom: $border-style;
  top: 0;
  right: 0;
  z-index: 2;
  color: #000;

  @media screen and (min-width: 500px) {
    display: none;
  }

  svg {
    width: 36px;
    height: 36px;
    background: $sidebar-background;
  }
}

/* === Sidebar === */

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: auto;

  h1,
  h2 {
    margin: 0 0 18px;

    @media screen and (min-width: 450px) {
      text-align: center;
    }
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
    font-weight: normal;
  }

  button {
    border: 1px solid #777;
    border-radius: 3px;
    padding: 0.2em 0.7em;
    background-image: linear-gradient(#ddd, #fff, #ddd);

    &:hover {
    background-image: linear-gradient(#e8e8e8, #fff, #e8e8e8);
    }

    &:active {
    background: #eee;
    }
  }
}

.favorites-toggle {
  display: flex;
  justify-content: center;
  font-weight: bold;

  label {
    $label-height: 36px;
    $half-label-height: $label-height / 2;

    display: block; /* IE 10 needs this to avoid putting space between labels */
    border: 1px solid #556;
    padding: 0.5em 1em;
    min-width: 35%;
    height: $label-height;
    background: #fff;
    color: #445;
    text-align: center;

    &:first-of-type {
      border-radius: $half-label-height 0 0 $half-label-height;
    }

    &:last-of-type {
      border-radius: 0 $half-label-height $half-label-height 0;
      border-left: none;
    }
  }

  input {
    display: none;

    &:checked + label {
      background: #556;
      color: #fff;
    }
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0;

  & label {
    padding-right: 1em;
    white-space: nowrap;
  }

  & select {
    flex: 1 1;
  }
}

nav {
  flex: 1 1;
  margin: 1.25em 0;

  p {
    margin: 0 0 0.5em;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: bold;
  }

  li {
    display: flex;
    align-items: center;
    line-height: 1em;
  }

  a {
    flex: 1;
    display: block; /* IE 10 needs this for the <li> to match the <a> height */
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;

    &:hover,
    &.hover {
      background: $park-hover-background
    }

    &.active {
      border-color: $park-active-border;
      background: $park-active-background;
    }
  }

  // Ideas for custom checkbox styling from: https://css-tricks.com/the-checkbox-hack/
  label {
    display: none; /* Hide when the page first loads */

    &[for] {
      display: block; /* Show once Knockout bindings have been applied */
    }

    &::before {
      content: "☆";
      display: inline-block;
      padding-right: 0.5em;
      color: $favorite-default-color;
    }

    &:hover::before {
      color: $favorite-hover-color;
    }
  }

  input {
    display: none;

    &:checked + label::before {
      content: "★";
      color: $favorite-selected-color;
    }
  }
}

footer {
  p {
    margin: 0.5em 0;
  }

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }
}

.infowindow {
  display: none; // Hidden by default
  max-width: 500px;

  main & {
    display: block; // Visible once moved inside the main element (the map)

    /*
     * This must be nested here, otherwise Google Map's selector for `img`
     * elements has higher specificity
     */
    img {
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 450px;
      /* Help Google estimate infowindow height better before the image loads */
      min-height: 100px;

      @media screen and (min-width: 800px) {
        min-height: 250px;
      }
    }
  }

  h1 {
    margin-top: 0;
  }

  a {
    white-space: nowrap;
    font-size: 16px;
  }
}

/*
 * This modal is only for displaying errors that prevent the page from
 * functioning (the Maps API or the National Park Service data doesn't load).
 * Therefore, it is not possible to close the modal once it has opened -- the
 * page must be reloaded instead.
 */
.modal {
  display: none; // Hidden by default
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;

  &.error {
    display: flex; // Visible if there is an error to display
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  & div {
    border: 7px solid #c00;
    padding: 1em;
    background: #fff;
    width: 20em;
    max-width: 100vw;
  }

  & h1 {
    margin: 0;
    text-align: center;
  }

  & p {
    margin: 1em 0 0;
    font-weight: bold;
  }
}
