$sidebar-background: #eee;
$park-hover-background: #ddd;
$park-active-background: #ffc;
$park-active-border: #000;

/* === General styles === */

*,
:before,
:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
}

/* === Major block content === */

body {
  display: flex;
}

.sidebar {
  padding: 1em;
  flex-basis: 400px;
  height: 100%;
  background: $sidebar-background;
}

main {
  flex: 1;
}

/* === Sidebar === */

%sidebar-headings {
  margin: 0 0 1em;
  text-align: center;
}

.sidebar {
  & h1 {
    @extend %sidebar-headings;
    font-size: 1.5em;
  }

  & h2 {
    @extend %sidebar-headings;
    font-size: 1.1em;
  }
}

.filter {
  margin: 1em 0;
}

nav {
  & ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
  }

  & li {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
      background: $park-hover-background
    }

    &.active {
      border-color: $park-active-border;
      background: $park-active-background;
    }

    &:before {
      content: "☆";
      display: inline-block;
      padding-right: 0.5em;
      color: #999;
    }

    &.favorite:before {
      content: "★";
      color: #ff0;
    }
  }

  & a {
    flex: 1;
    line-height: 2em;
    font-size: 1.25em;
    font-weight: bold;
  }
}

.modal {
  display: none; // Hidden by default

  main & {
    display: block; // Visible once moved inside the main element (the map)
  }
}
